<div class="card-body">
  <form novalidate
        #toyForm="ngForm">
    <fieldset>
      <legend>Basic Toy Information</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="toyNameId">Toy Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="toyNameId"
                 type="text"
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=toy.toyName
                 name="toyName"
                 #toyNameVar="ngModel"
                 [ngClass]="{'is-invalid': (toyNameVar.touched || 
                                            toyNameVar.dirty ||
                                            toy.id !== 0) && 
                                            !toyNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="toyNameVar.errors?.required">
              Toy name is required.
            </span>
            <span *ngIf="toyNameVar.errors?.minlength">
              Toy name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="toyCodeId">Toy Code</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="toyCodeId"
                 type="text"
                 placeholder="Code (required)"
                 required
                 [(ngModel)]=toy.toyCode
                 name="toyCode"
                 #toyCodeVar="ngModel"
                 [ngClass]="{'is-invalid': (toyCodeVar.touched || 
                                            toyCodeVar.dirty ||
                                            toy.id !== 0) &&
                                            !toyCodeVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="toyCodeVar.errors?.required">
              Toy code is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]=toy.description
                    name="description"></textarea>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class='alert alert-danger'
     *ngIf='errorMessage'>{{errorMessage}}
</div>